@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Hiding for clean horizontal scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #FAFAFA; /* A very light, premium gray background */
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
}